@model MySite.Areas.Data_Access.EF.Employee
@using MySite.Areas.Data_Access.EF

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="banner">
    <h2>
        <a href="/Admin/Home/Index">Home</a>
        <i class="fa fa-angle-right"></i>
        <a href="/Admin/Employee/Index">Employee</a>
        <i class="fa fa-angle-right"></i>
        <span>Create new</span>
    </h2>
</div>

<div class="banner">
    <h2>Tạo mới nhân viên</h2>
</div>

<div class="grid-form">
    <div class="grid-form1">
        @using (Html.BeginForm("AddAction", "Employee"))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Nhân viên</h4>
                <hr />

                <div class="form-group">
                    <label for="selector1" class="col-sm-2 control-label">Chức vị</label>
                    <div class="col-sm-8">
                        <select name="role" id="role" class="form-control1">
                            @if (ViewBag.Responsibilty != null)
                            {
                                foreach (Responsibilty i in ViewBag.Responsibilty)
                                {
                                    <option>@i.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telephone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telephone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telephone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>