@model PagedList.IPagedList<MySite.Areas.Data_Access.EF.Employee>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <h2>
        <a href="/Admin/Home/Index">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Employee</span>
    </h2>
</div>

<div class="banner">
    <h2>Danh sách nhân viên</h2>
</div>

<div class="grid-form">
    <div class="grid-form1">
        <p>
            <a href="/Admin/Employee/Create" class="btn btn-primary">CREATE NEW</a>
            @*@Html.ActionLink("Create New", "Create")*@
        </p>
        <table class="table">
            <tr>
                <th>
                    Role
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telephone
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Responsibilty.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telephone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.ID_Employee}) |
                        @Html.ActionLink("Detail", "Detail", new {id = item.ID_Employee}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.ID_Employee})
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>
